{% extends "base.html" %}

{% block content %}
  {% if messages %}
    <div>
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <h1>Model: {{ car.model }}</h1>
  <p>Manufacturer: {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Drivers</h1>

    {% if user in car.drivers.all %}
      <form method="post" action="{% url 'taxi:driver-remove' pk=car.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger link-to-page">
          Delete me from this car
        </button>
      </form>
    {% else %}
      <form method="post" action="{% url 'taxi:driver-assign' pk=car.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success link-to-page">
          Assign me to this car
        </button>
      </form>
    {% endif %}
  </div>
  <hr>


  <ul style="list-style-type: none; padding-left: 0;">
    {% for driver in car.drivers.all %}
      <li style="margin-bottom: 20px;">
        <p><strong>Username:</strong> {{ driver.username }} {% if user == driver %} (Me) {% endif %}</p>
        <p><strong>Full name:</strong> {{ driver.first_name }} {{ driver.last_name }}</p>
        <p><strong>License number:</strong> {{ driver.license_number }}</p>
        <hr>
      </li>
    {% endfor %}
  </ul>



  <div style="margin-top: 20px;">
    <div class="d-flex justify-content-start">
      <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page me-2">
        Update
      </a>
      <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>
    </div>
  </div>
{% endblock %}
